<div class="container card border-secondary mb-3 mt-3">
    <div class="card-header">Perfiles</div>
    <div class="card-body table-responsive">
        <h5 class="card-title">Listado de perfiles asignados</h5>

        <div class="my-2 text-left">
            <!-- routerLink es un directiva que permite crear links o enlaces hacia rutas internas que estan registradas en app.module -->
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-info" type="button" [routerLink]="['/perfiles/form']" routerLinkActive="router-link-active">Asignar perfil</button>
        </div>
        <div *ngIf="empleadosRoles?.length == 0" class="aler alert-info">
            No hay registros en la base de datos!
        </div>

        <table class="table table-bordered table-striped table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">Empleado</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let perfil of empleadosRoles">
                    <td>{{perfil.empleado.nombre + " " + perfil.empleado.apellido}}</td>
                    <td>{{perfil.rol.descripcion}}</td>
                    <td>
                        <button type="button" name="eliminar" (click)="delete(perfil)" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>