<ul class="container alert alert-danger pl-4" *ngIf="errores?.length > 0">
    <li> {{errores}} </li>
</ul>
<div class="card text-justify container mb-3 mt-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/micuenta']">Perfil</a>
            </li>
            <li class="nav-item">
                <a ngClass="nav-link active" [routerLink]="['/cambiar-datos']">Cambiar mi contraseña</a>
            </li>
        </ul>
    </div>
    <div class="card-body col-sm-6" *ngIf="empleado">
        <!--
        <form [formGroup]="form">

            <mat-form-field>
                <input matInput type="password" name="currentPassword" placeholder="Contraseña actual">
            </mat-form-field>

            <br>
            
            <mat-form-field>
                <input matInput type="password" formControlName="confirmarPassword" placeholder="Confirmar Contraseña">
            </mat-form-field>

            <mat-error class="mat-error" *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error>

            <br>

            <button mat-raised-button (click)=updateInfo()>Enviar</button>
            
        </form>-->

        <form #f="ngForm">

            <!--
            <div class="form-group row col-sm-6">
                <label>Contraseña actual</label>
                <input type="password" class="form-control" [(ngModel)]="empleado.password" name="password" ngModel #password="ngModel" required>
            </div>-->



            <div class="form-group row col-sm-6">
                <label>Contraseña nueva</label>
                <input type="password" class="form-control" [(ngModel)]="empleado.password" name="password" ngModel #password="ngModel" required>
                <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                    La contraseña es requerida
                </div>
            </div>
            <div class="form-group row col-sm-6">
                <label>Confirmar contraseña</label>
                <input type="password" class="form-control" name="passwordConfirm" ngModel #pwConfirm="ngModel" required compare="password">
                <div class="text-danger" *ngIf="pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched)">
                    <div *ngIf="pwConfirm.errors['required']">Es necesario confirmar la contraseña</div>
                    <div *ngIf="pwConfirm.errors['compare']">No coinside la contraseña</div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" [disabled]="f.invalid" (click)=updateInfo()>Guardar</button>
        </form>

    </div>
</div>