<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let itemErr of errores"> {{itemErr}} </li>
</ul>
<div class="card bg-white mt-3">
    <div class="card-header"> {{titulo}} </div>
    <div class="card-body">

        <form #empleadoForm="ngForm">

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <!-- Se asigna una variable con # -->
                    <input type="text" class="form-control" [(ngModel)]="empleado.nombre" name="nombre" #nombre="ngModel">
                    <!-- required minlength="3" -->
                    <!-- dirty: a medida que se esta escribiendo muestra el mensaje de error. touched: muestra cuando se sale del input-->
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            El nombre es requerido
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            El nombre debe tener minimo 3 caracteres
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="empleado.apellido" name="apellido" #apellido="ngModel">
                    <!-- required -->
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">
                            El apellido es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="tipoIdentificacion" class="col-form-label col-sm-2">Tipo de identificación</label>
                <div class="col-sm-6">
                    <!-- comparewith para que aparezca el editar -->
                    <select [compareWith]="compararIdentificacion" class="form-control" [(ngModel)]="empleado.tipoIdentificacion" name="tipoIdentificacion" style="width: 350px;">
                        <option [ngValue]="undefined">--- Seleccionar el tipo de identificación ---</option>
                        <option *ngFor="let item of tiposIdentificacion" [ngValue]="item">{{item.tipoIdentificacion}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="numeroIdentificacion" class="col-form-label col-sm-2">No. identificación</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="empleado.numeroIdentificacion" name="numeroIdentificacion" #numeroIdentificacion="ngModel">
                    <!-- required -->
                    <div class="alert alert-danger" *ngIf="numeroIdentificacion.invalid && (numeroIdentificacion.dirty || numeroIdentificacion.touched)">
                        <div *ngIf="numeroIdentificacion.errors.required">
                            El número de identificación es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="empleado.username" name="username" #username="ngModel">
                    <!-- required email -->
                    <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                        <div *ngIf="username.errors.required">
                            El email es requerido
                        </div>
                        <div *ngIf="username.errors.email">
                            El email debe tener un formato válido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="celular" class="col-form-label col-sm-2">Contraseña</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="empleado.password" name="password">
                </div>
            </div>

            <div class="form-group row">
                <label for="celular" class="col-form-label col-sm-2">Celular</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="empleado.celular" name="celular">
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaContrato" class="col-form-label col-sm-2">Fecha de contratación</label>
                <div class="col-sm-6">
                    <input [matDatepicker]="myDatepicker" class="form-control" [(ngModel)]="empleado.fechaContrato" name="fechaContrato" style="display: inline; width: 150px;">
                    <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!empleado.idEmpleado else elseBlock" [disabled]="!empleadoForm.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!empleadoForm.form.valid">Editar</button>
                    </ng-template>
                </div>
            </div>

        </form>

    </div>
</div>