/* You can add global styles to this file, and also import other style files */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

html {
    position: relative;
    min-height: 100%;
}

.wrap {
    padding-bottom: 60px;
}

body {
    margin-bottom: 60px;
    min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.back-body {
    background: linear-gradient(to right, #0a205e, #8498b0);
}